*{
    max-resolution: 0;
    padding: 0;
    box-sizing: border-box;

}
.marquee h3{
    color: rgb(172, 11, 38);
}
.from{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.from1{
    border: 2px solid red;
    width: 500px;
    height: 500px;
}
.from2{
    border: 2px solid green;
    width: 500px;
    height: 500px;
}
.from1,.from2, h5{
    text-align: center;
}
.from1,.from2,input{
    width: 70%;
    padding: 10px;
    margin: 10px;

}
